@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 14%;
  --foreground: 0 0% 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #4169e1, #9c72fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
}

